body {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: content-box;

}
/* first section - header all - header-navbar  */
.header {
    background-color: #1f2937;
    flex: 1;
    justify-content: center;
    width: 100vw;
    /* valja centrirati ajteme u kontejneru! */
}
.text {
    font-family: 'Roboto', sans-serif;
}

.header-navbar {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    margin: 12px;
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 12px;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: aliceblue;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 300px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 300px;
}


/*2nd section : text , button, image*/
.ritam-sekcija {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    position: relative;
    height: 30px;
    width: 90px;
}


/*2 sekcija kartice*/
.section-2 {
    display: flex;
    flex-direction: column;
}
.random-info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin: 10px;

}

.subtext {
    flex: 1;
    width: 180px;
    flex-wrap: wrap;
}

/*3rd section - Quote*/
.quote-container {
    display: flex;
    background-color: #E5E7EB;
}
.quote-creator {
    display: flex;
    flex: 1;
    justify-content: end;
}
.quote > p{
    font-size: 36px;
    color: #1F2937;
    
}
/*sign up area*/

.action-container {
    display: flex;
    background-color: #3882F6;
    margin: 40px;
    width: 800px;
    height: 100px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.signup-text > div {
    color: #E5E7EB;
    
}
.action-calltext {
    font-size: 20px;
    font-weight: 900;
}
.action-subtext {
    font-size: 12px;
}

/*lastly footer */
footer {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color: #E5E7EB;
}
